<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Study</title>
</head>

<body>
    <div id="app" >
        <div style="width: 100%;height:30px;">
            <div style="margin-left: 650px;">
                <input type="text" v-model="keywords" @keyup.enter="queryMusic" center>
                <input type="button" value="搜索" @click="queryMusic"center>
            </div>
        </div>
        <div>
            <div style="float: left;width: 50%;height: 80%;background-color: salmon;">
                <ul>
                    <li v-for="item in dataList"  >
                       <a  @click="playMusic(item.id)">{{item.name}}     {{item.artists[0].name}}</a>  <a v-if="item.mvid != 0" @click="playMv(item.mvid)">MV
                       </a>
                    </li>
                </ul>
            </div>
            <div  style="float: left;width: 50%;height: 80%;background-color:steelblue">
                <ul>
                    <li v-for="item in commentList">
                       {{item.user.nickname}}:{{item.content}}
                    </li>
                </ul>
            </div>
        </div>
        <img :src="imgUrl" alt="" style="width: 100px;height: 100px;">
        <video :src="mvUrl" controls="controls"></video>
        <audio :src="musicUrl" controls autoplay loop style="width: 100%;height: 30px;"></audio>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script >
    var app = new Vue({
        el: '#app',
        data: {
            keywords:"",
            dataList: [],
            musicUrl:'',
            imgUrl:'',
            commentList:[],
            mvUrl:''
        },
        methods: {
            queryMusic: function () {
                var that = this;
                axios.get("https://autumnfish.cn/search?keywords="+this.keywords)
                .then(function(response){
                    that.dataList = response.data.result.songs;
                },function(){

                })
            },
            playMusic:function(item){
                var that=this;
                axios.get("https://autumnfish.cn/song/url?id="+item).then(function(response){
                    that.musicUrl = response.data.data[0].url;
                },function(){});

                axios.get("https://autumnfish.cn/song/detail?ids="+item).then(function(response){
                    that.imgUrl = response.data.songs[0].al.picUrl;
                },function(err){})

                axios.get("https://autumnfish.cn/comment/hot?type=0&id="+item).then(function(response){
                    that.commentList = response.data.hotComments;
                },function(err){})     
                
                
            },
            playMv:function(item){
                var that = this;
                axios.get("https://autumnfish.cn/mv/url?id="+item).then(function(response){
                    that.mvUrl = response.data.data.url;
                },function(err){})
            }
            
        }
    })
    </script>

</html>
